body {
    overflow: hidden;
}

*, *::after, *::before {
    user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

.pm-app {
    background-color: #888;
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.pm-pan-zoom-container {
    flex: 1;
    background-color: #777;
    overflow: hidden;

    .pm-inner {
        position: absolute;
        overflow: hidden;
    }

    .pm-photo-img {
        position: absolute;
    }

    .pm-three-view {
        position: absolute;
    }

    .pm-lines {
        display: none;
        position: absolute;
        background-color: #909;
    }

    .pm-overview {
        position: absolute;
        background-color: #444;
        bottom: 10px;
        right: 10px;
        border: solid 1px #000;
        overflow: hidden;

        .pm-photo {
            position: absolute;
            background-color: #666;
        }
        .pm-view {
            position: absolute;
            background-color: transparent;
            border: solid 1px #fff;
        }
    }

    .pm-controls {
        position: absolute;
        background-color: #333;
        top: 10px;
        left: 10px;
        padding-left: 10px;
        padding-bottom: 10px;

        .pm-button {
            margin-top: 10px;
            margin-right: 10px;
        }
    }
}
