body {
    overflow: hidden;
}

*, *::after, *::before {
    user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

.pm-app {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.pm-pan-zoom-container {
    flex: 1;
    display: flex;
    position: relative;
}
.pm-pan-zoom {
    flex: 1;
    background-color: #444;
    overflow: hidden;

    .pm-inner {
        position: absolute;
        overflow: hidden;
    }

    .pm-photo-img {
        position: absolute;
    }

    .pm-three-view {
        position: absolute;
    }

    .pm-lines-view {
        position: absolute;
        /* background-color: #909; */
    }

    .pm-overview {
        position: absolute;
        background-color: #333;
        bottom: 10px;
        right: 10px;
        border-radius: 10px;
        overflow: hidden;

        .pm-photo {
            position: absolute;
        }
        .pm-view {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.2);
            border: solid 1px #000;
        }
    }
}

.pm-controls-container {
    position: absolute;
    top: 0px;
    left: 0px;
}
.pm-controls {
    position: absolute;
    background-color: #333;
    top: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 10px;

    .pm-button {
        margin-top: 10px;
        margin-right: 10px;
    }

    .pm-slider {
        width: 100px;
    }
    .pm-slider-icon {
        margin-top: 2px;
    }
    .pm-slider-component {
        margin-top: 5px;
    }
}

.pm-photo-list {
    /* width: 200px; */
    overflow-y: scroll;
    padding: 10px;

    .pm-photo-image-container {
        /* overflow: hidden; */
    }

    .pm-photo-image {
        /* width: 100%; */
        object-fit: cover;
        width: 200px;
        height: 150px;
        border-radius: 10px;
        margin-bottom: 5px;
        /* box-sizing: content-box; */
    }

    .pm-photo-image-selected {
        /* border: solid 2px #909; */
        /* margin-left: -13px;
        margin-top: -13px; */
    }
}